/* 좋아요 애니메이션 */
.fa-heart {
  animation-name: hearts;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@-webkit-keyframes hearts {
  0% {
    color: #ff0000;
  }
  25% {
    color: rgb(236, 50, 81);
  }
  50% {
    color: rgb(245, 85, 111);
  }
  75% {
    color: rgb(241, 136, 153);
  }
  100% {
    color: white;
  }
}
